.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.child-1 {
  border: 1px solid red;
  grid-column: 1/6;
}
.child-2 {
  border: 1px solid red;
  grid-column: 7/13;
}
