body {
  margin: 0;
}
.container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.Item {
  height: 80%;
  width: 80%;
  background-color: gray;
  color: red;
}
img {
  width: 80%;
  height: 80%;
}
h1 {
  margin: 0;
  padding: 0;
}
.item1 {
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
