.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto auto;
  grid-row-gap: 12px;
}
.header {
  border: 1px solid red;
}
.navigation {
  border: 1px solid red;
}
.main {
  border: 1px solid red;
}
.sidebar {
  border: 1px solid red;
}
.ads {
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}
